<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acumen</title>

    <!-- DaisyUI & TailwindCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: { extend: {} },
            plugins: [function ({ addBase }) {
                addBase({ '@import': 'https://cdn.jsdelivr.net/npm/daisyui@3.2.1/dist/full.css' });
            }]
        }
    </script>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body class="bg-base-200 bg-gray-100 min-h-screen">

    <div class="flex h-screen">
        {% if  request.resolver_match.url_name != "login" %}
            {% include "partials/sidebar.html" %} <!-- Sidebar is shown everywhere except login -->
        {% endif %}
        
        <!-- Main Content -->
        <div class="flex-1 flex flex-col">
            <main class="p-6">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

</body>
</html>
